<div class="container">

  <div class="jumbotron">
      <p><h1>CRM</h1></p>
      <p>Get organized, man</p>
  </div>

    <div class=row>
      <div class="col-md-4">
        <%=image_tag("tablet_guy.jpg", class: "img-responsive")%>
      </div>
      <div class="col-md-4">
        <%=image_tag("pen_guy.jpg", class: "img-responsive")%>
      </div>
      <div class="col-md-4">
        <%=image_tag("laptop_guy.jpg", class: "img-responsive")%>
      </div>
    </div>

    <div>
      <p></p>
    </div>

    <div class=row >
      <div class="col-md-4">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Tasks</h3>
          </div>
          <div class="panel-body">
            Just the way you like'em
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Merchants</h3>
          </div>
          <div class="panel-body">
            Know who you're talking to
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Interaction History</h3>
          </div>
          <div class="panel-body">
            <ul>
              It's all in the details
            </ul>
          </div>
        </div>
      </div>
    </div>



</div>
